body {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#root {
  position: relative;
  height: 100%;
}

.demo {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

main {
  padding: 0 2rem;
  width: 100%;
  overflow-y: scroll;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
  th {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
    background: #f7f7f7;
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 600;
  }
  td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.7;
    &:first-child {
      background: #fcfcfc;
      font-weight: 500;
    }
    &:last-child {
      max-width: 200px;
    }
  }
}

main pre {
  background-color: #F6F8FA;
  padding: 1.2em;
  margin: .5em 0;
  code {
    font-size: 13px;
    color: black;
    text-shadow: 0 1px white;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  }
}

.tiny-editor {
  .CodeMirror {
    background: #F6F8FA;
    min-height: 200px;
    padding-top: 15px;
    height: auto;
  }
  * {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 1.5;
    font-size: 13px;
  }
  span {
    color: #999;
  }
  .cm-s-default .cm-tag {
    color: #07a;
  }
  .cm-bracket {
    color: #a67f59;
  }
  .cm-s-default .cm-string {
    color: #690;
  }
  .cm-s-default .cm-attribute {
    color: #222;
  }
  .cm-variable {
    color: #DD4A68;
  }
}

.tiny-previewer-container {
  border: solid 1px #eaeefb;
  border-radius: 4px;
  .canvas {
    padding: 15px 30px;
  }
  .toggle-button {
    cursor: pointer;
    padding: 10px 20px;
    border-top: solid 1px #eaeefb;
    color: #469cfc;
    font-size: 13px;
    text-align: center;
  }
}